{deps, [
    {cowboy,            {git, "https://github.com/ninenines/cowboy.git",        {tag, "2.8.0"}}},
    {jsone,             {git, "https://github.com/sile/jsone.git",              {tag, "1.5.2"}}},
    {lager,             {git, "https://github.com/erlang-lager/lager.git",      {tag, "master"}}},
    {sync,              {git, "https://github.com/rustyio/sync.git",            {tag, "master"}}}
]}.
{plugins, []}.

{overrides, [
    {del, [{erl_opts, [warnings_as_errors]}]}
]}.

{erl_opts, [
    {parse_transform, lager_transform}
]}.

%% Check required ERTS or OTP release version
{require_erts_vsn, ".*"}.
{require_otp_vsn, ".*"}.
{require_min_otp_vsn, ".*"}.

{relx, [
    {release, {opendatalinks, "0.1.0"}, [       % заготовка для стандартного файла .rel (release resource file)
        opendatalinks,                          % an applications included in the release
        runtime_tools,
        inets,
        cowboy,
        {mnesia, load}                  % мнезию сразу не запускаем, потому что ещё схему может понадобиться создать
    ]},
    {extended_start_script, true},
    {include_erts, true},               % Включить в релиз целиком Erlang Run-Time System. В ERTS, среди прочего, включены BEAM, kernel and standard libraries.
    {include_src, false},
    {sys_config, "config/sys.config"},
    {vm_args_src, "config/vm.args.src"},
    {dev_mode, false}                   % relx не копирует файлы приложения и конфиги в релиз, а создаёт символьные ссылки на них
]}.
{dev_relx_apps, [
    sync,
    observer,
    wx                                  % для возможности запустить observer на машине с графической подсистемой
]}.
